.shortcuts-interface {
  padding: 30px;

  &__header {
    &-title {
      margin-top: 0px;
      float: left;
      width: calc(100% - 60px);
    }

    &-close {
      float: right;
      height: 50px;
      width: 50px;
    }
  }

  &__main {
    margin-top: 40px;

    &-item {
      margin-bottom: 20px;
    }
  }
}
