.search-interface {
  padding: 30px;

  &__header {
    &-close {
      float: right;
      height: 50px;
      width: 50px;
    }
  }

  &__main {
    margin-top: 40px;
    &-input {
      width: 100%;
    }
  }

  &__footer {
    position: fixed;
    bottom: 31px;
    z-index: 10;
    width: 100%;

    &-float {
      position: absolute;
      right: 97px;
      bottom: 18px;

      i {
        background: #ec5453;

        svg {
          position: absolute;
          left: 13px;
          top: 17px;
        }
      }
    }
  }
}
