@import 'Common/utils/colours';

.icon {
  position: relative;
  display: initial;

  &--round {
    padding: 20px;
    border-radius: 50%;
    background: $light-colour-yellow;

    border-width: 0px;
    display: block;
    width: 30px;
    height: 30px;
    border-style: solid;
  }

  &__state {
    &--active {
      &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background: red;
        top: 0px;
        right: 0px;
        border-radius: 50%;
      }
    }
  }
}

.dark-mode {
  .icon {
    &--round {
      box-shadow: 0px 0px 5px $dark-main-color;

      svg {
        color: $dark-main-color;
      }
    }

    &__state {
      &--active {
        &::before {
          background: $dark-main-color;
        }
      }
    }
  }
}

.light-mode {
  .icon {
    &--round {
      box-shadow: 0px 0px 5px $light-main-color;

      svg {
        color: $dark-main-color;
      }
    }

    &__state {
      &--active {
        &::before {
          background: $light-main-color;
        }
      }
    }
  }
}
