.note-interface {
  padding: 30px;

  &__header {
    &-input {
      float: left;
      width: calc(100% - 60px);
    }
  }

  &__main {
    &-tags {
      width: 100%;
      clear: both;
      display: inline-block;
      position: relative;

      &-list {
        float: right;
        width: calc(100% - 160px);
      }

      &-input {
        float: left;
        width: 150px !important;
      }
    }
  }

  &__footer {
    position: fixed;
    bottom: 31px;
    z-index: 10;
    width: 100%;

    &-options {
      display: block;
    }

    &-option {
      display: inline-block;
      width: 20px;
      margin-right: 20px;
    }

    &-float {
      position: absolute;
      right: 97px;
      bottom: 18px;

      i {
        background: #ec5453;

        svg {
          position: absolute;
          left: 13px;
          top: 17px;
        }
      }
    }
  }
}
