.note-interface {
  &__header {
    &-input {
      float: left;
    }

    &-close {
      float: right;
    }
  }

  &__main {
    &-tags {
      width: 100%;
      clear: both;
      display: inline-block;
      position: relative;
    }
  }

  &__footer {
    position: fixed;
    z-index: 10;
    width: 100%;

    &-options {
      display: block;
    }

    &-option {
      display: inline-block;
      width: 20px;
      margin-right: 20px;

      :last-child {
        float: right;
      }
    }

    &-float {
      position: absolute;

      i {
        background: #f2c15e;

        svg {
          position: absolute;
          left: 13px;
          top: 13px;
        }
      }
    }
  }
}

.desktop {
  .note-interface {
    padding: 30px;

    &__header {
      &-input {
        width: calc(100% - 60px);
      }
    }

    &__main {
      &-tags {
        &-input {
          float: left;
          width: 150px !important;
        }
      }
    }

    &__footer {
      bottom: 31px;

      &-float {
        right: 60px;
        bottom: 18px;
      }
    }
  }
}

.mobile-tablet {
  .note-interface {
    padding: 10px;

    &__header {
      &-input {
        width: calc(100% - 40px);
      }

      &-list {
        float: right;
        width: calc(100% - 160px);
      }
    }

    &__main {
      &-tags {
        &-input {
          width: 100% !important;
        }
      }
    }

    &__footer {
      bottom: 20px;

      &-float {
        right: 20px;
        bottom: 18px;
      }
    }
  }
}

.field-tag-open {
  .note-interface {
    &__footer {
      display: none;
    }
  }
}
