@import 'common/utils/colours';

.colour-switch {
  position: relative;
  width: 28px;
  &__item {
    position: relative;
    margin-top: 10px;
    border-style: solid;
    width: 15px;
    height: 15px;

    border-radius: 50%;
    display: block;
    font-size: 10px;
    cursor: pointer;
  }

  &__items {
    position: absolute;
    bottom: 30px;
    height: auto;
    width: 23px;

    text-align: center;
  }
}

.mobile-tablet {
  .colour-switch {
    &__items {
      zoom: 2;
    }
  }
}

.dark-mode {
  .colour-switch {
    &__main {
      border-color: $dark-box-border-color;
    }

    &__items {
      background: $dark-bg;
    }
  }
}

.light-mode {
  .colour-switch {
    &__main {
      border-color: $light-box-border-color;
    }

    &__items {
      background: $light-bg;
    }
  }
}
