$light-bg: white;
$light-main-color: #263238;
$light-icon-color: #90a4ae;
$light-box-border-color: #cfd8dc;
$dark-bg: #121212;
$dark-main-color: #263238;
$dark-icon-color: #90a4ae;
$dark-box-border-color: rgba(255, 255, 255, 0.37);
