$main-color: #f2c15e;

$light-bg: white;
$light-main-color: #263238;
$light-icon-color: #90a4ae;
$light-box-border-color: #cfd8dc;
$dark-bg: #121212;
$dark-main-color: rgba(255, 255, 255, 0.87);
$dark-icon-color: rgba(137, 158, 169, 0.6);
$dark-box-border-color: rgba(90, 102, 109, 0.3);

$light-colour-pink: #fa8fa3;
$light-colour-salmon: #ec9d8e;
$light-colour-yellow: #f2c15e;
$light-colour-lavanda: #ac8bf8;
$light-colour-blue: #7ed1ef;
$light-colour-ocean-blue: #4289ff;
$light-colour-mint-green: #61c7ae;
$light-colour-olive-green: #9dc973;

$dark-colour-pink: linear-gradient(90deg, #7c4751 0%, #fa8fa3 30%, #7c4751 100%);
$dark-colour-salmon: linear-gradient(90deg, #81564d 0%, #ec9d8e 30%, #81564d 100%);
$dark-colour-yellow: linear-gradient(90deg, #695329 0%, #f2c15e 30%, #695329 100%);
$dark-colour-lavanda: linear-gradient(90deg, #4e426c 0%, #ac8bf8 30%, #4e426c 100%);
$dark-colour-blue: linear-gradient(90deg, #395862 0%, #7ed1ef 30%, #395862 100%);
$dark-colour-ocean-blue: linear-gradient(90deg, #223a62 0%, #4289ff 30%, #223a62 100%);
$dark-colour-mint-green: linear-gradient(90deg, #2b4c44 0%, #61c7ae 30%, #2b4c44 100%);
$dark-colour-olive-green: linear-gradient(90deg, #465736 0%, #9dc973 30%, #465736 100%);

.light-mode {
  .pink-bg {
    background-color: $light-colour-pink;
  }

  .salmon-bg {
    background-color: $light-colour-salmon;
  }

  .yellow-bg {
    background-color: $light-colour-yellow;
  }

  .lavanda-bg {
    background-color: $light-colour-lavanda;
  }

  .blue-bg {
    background-color: $light-colour-blue;
  }

  .ocean-blue-bg {
    background-color: $light-colour-ocean-blue;
  }

  .mint-green-bg {
    background-color: $light-colour-mint-green;
  }

  .olive-green-bg {
    background-color: $light-colour-olive-green;
  }
}

.pink-border {
  border-color: $light-colour-pink;
}

.salmon-border {
  border-color: $light-colour-salmon;
}

.yellow-border {
  border-color: $light-colour-yellow;
}

.lavanda-border {
  border-color: $light-colour-lavanda;
}

.blue-border {
  border-color: $light-colour-blue;
}

.ocean-blue-border {
  border-color: $light-colour-ocean-blue;
}

.mint-green-border {
  border-color: $light-colour-mint-green;
}

.olive-green-border {
  border-color: $light-colour-olive-green;
}

.dark-mode {
  .pink-bg {
    background: $dark-colour-pink;
  }

  .pink-border {
    border-color: $dark-colour-pink;
  }

  .salmon-bg {
    background: $dark-colour-salmon;
  }

  .yellow-bg {
    background: $dark-colour-yellow;
  }

  .lavanda-bg {
    background: $dark-colour-lavanda;
  }

  .blue-bg {
    background: $dark-colour-blue;
  }

  .ocean-blue-bg {
    background: $dark-colour-ocean-blue;
  }

  .mint-green-bg {
    background: $dark-colour-mint-green;
  }

  .olive-green-bg {
    background: $dark-colour-olive-green;
  }
}
