@import 'common/utils/colours';

.ksi {
  position: relative;

  width: 100%;
  display: block;
  clear: both;

  &__key {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
  }

  &__divisor {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-weight: 600;
  }

  &__description {
    display: inline-block;
    margin-left: 18px;
    font-size: 15px;
  }
}

.dark-mode {
  .chip {
    &__key {
      border-color: $dark-box-border-color;
    }
  }
}

.light-mode {
  .ksi {
    &__key {
      border-color: $light-box-border-color;
    }
  }
}
