@import 'Common/utils/colours';

.ti {
  position: relative;
  width: 100%;
  display: block;

  &__input {
    width: 100%;
    border: none;
    background: transparent;
  }

  &__state {
    &--active {
      border-width: 2px;
    }
  }

  &__icon {
    cursor: pointer;
    position: absolute;
    right: 0px;
    height: 70%;
    width: 26px;
    top: 4px;
    text-align: center;
  }
}

.dark-mode {
  .ti {
    &__input {
      color: $dark-main-color;

      &::placeholder {
        color: $dark-icon-color;
      }
    }

    &__icon {
      svg {
        color: $light-main-color;
      }
    }
  }
}

.light-mode {
  .ti {
    &__input {
      color: $light-main-color;

      &::placeholder {
        color: $dark-icon-color;
      }
    }

    &__icon {
      svg {
        color: $light-main-color;
      }
    }
  }
}

.desktop {
  .ti {
    &__input {
      &--small {
        font-size: 12px;
      }

      &--medium {
        font-size: 32px;
      }

      &--big {
        font-size: 42px;
      }
    }
  }
}

.mobile-tablet {
  .ti {
    &__input {
      padding: 0px;

      &--small {
        font-size: 20px;
      }

      &--medium {
        font-size: 28px;
      }

      &--big {
        font-size: 35px;
      }

      &-confirm {
        position: absolute;
        right: 0px;
        top: 0px;
      }
    }
  }
}
