@import 'common/utils/colours';

.card {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;

  overflow: hidden;

  display: inline-block;

  padding: 2px 15px 0px 15px;
  font-size: 10px;
  height: 180px;

  &__tags {
    position: absolute;
    bottom: 10px;
  }

  &__icons {
    float: right;
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;

    &__item {
      display: inline-block;
      margin-left: 10px;

      svg {
        width: 20px;
      }
    }
  }
  &__title {
    font-size: 30px;
    overflow: hidden;
    width: 100%;
  }

  &__content {
    font-size: 18px;
    margin-inline-start: 0px;
    overflow: hidden;
    width: 100%;
  }

  &__state {
    &--active {
      border-width: 2px;
    }
  }

  &__icon {
    cursor: pointer;
    position: absolute;
    right: 0px;
    height: 70%;
    width: 26px;
    top: 4px;
    text-align: center;
  }

  &__colour {
    position: absolute;
    bottom: 0px;
    left: -1px;
    width: calc(100% + 2px);
    height: 6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.dark-mode {
  .card {
    border-color: $dark-box-border-color;

    &__tags {
      background-color: $dark-bg;
    }

    &__icons {
      svg {
        color: $dark-icon-color;
      }

      background-color: $dark-bg;
    }
  }
}

.light-mode {
  .card {
    border-color: $light-box-border-color;

    &__tags {
      background-color: $light-bg;
    }
    &__icons {
      svg {
        color: $light-icon-color;
      }
      background-color: $light-bg;
    }
  }
}

.desktop {
  .card {
    cursor: pointer;
    margin-right: 20px;
  }
}
