@import 'Common/utils/colours';

.notes-interface {
  padding: 30px;

  &__header {
    position: fixed;
    top: 0px;
    padding-top: 30px;
    width: calc(100% - 60px);
    height: 70px;
    z-index: 10;

    &-title {
      margin-top: 0px;
      float: left;
      width: calc(100% - 100px);
    }

    &-options {
      float: right;
      height: 50px;
      width: 100px;
    }
    &-option {
      width: 50px;
      margin-left: 10px;
    }
  }

  &__main {
    margin-top: 100px;

    &-item {
      margin-bottom: 20px;
    }

    &-empty {
      width: 100%;
      &-info {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        img {
          width: 100%;
          max-width: 340px;
        }
      }
    }
  }
}

.light-mode {
  .notes-interface {
    &__header {
      background: $light-bg;
    }
  }
}

.dark-mode {
  .notes-interface {
    &__header {
      background: $dark-bg;
    }
  }
}
